*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/data/test.xlsx
/app/src/main/res/raw/vehicles_data.csv
/python-app/firebaseadminkey.json
/python-app
.gitignore
